<header>
  <div class="header-logo">
  <a href="top">LinQ</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="about">LinQとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>LinQとは</h2>
  <p>
    SNSサービスです。
    好きなことを投稿し、同じことが好きなユーザーと繋がれます！<br>どんどん楽しみましょう♪
  </p>
</div>