<header>
  <div class="header-logo">
   <a href="top"> LinQ  </a>
  </div>
  <ul class="header-menus">
    <li>LinQとは</li>
  </ul>
</header>

<div class="introduction-main">
   <h2>自己紹介</h2>
   <p>僕はプログラミングに興味のある中学生です！<br>学校の探究で地域の観光サイトを作ったところから興味を持ちました。
   <br>そのサイトにはPHPなどでお問い合わせフォームとか付けたりしました。<br>これはRuby on railsで作りました。<br>とても楽しいです。<p>
</div>